<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanyun.oms.mapper.QuestionnaireMapper">

    <resultMap id="QuestionnaireMap" type="com.yanyun.oms.entity.Questionnaire">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" property="title"/>
        <result column="question" property="question"/>
        <result column="status" property="status"/>
        <result column="created_id" property="createdId"/>
        <result column="modified_id" property="modifiedId"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <resultMap id="QuestionnaireDtoMap" type="com.yanyun.oms.dto.QuestionnaireDto" extends="QuestionnaireMap">
        <collection property="questionList" select="findQuestionList" column="id"></collection>
    </resultMap>

    <resultMap id="QuestionDtoMap" type="com.yanyun.oms.dto.QuestionDto">
        <result column="id" property="id"></result>
        <result column="type" property="type"></result>
        <result column="question" property="question"></result>
        <collection property="options" column="id" select="findQuestionOptionList"></collection>
    </resultMap>

    <resultMap id="QuestionOptionDtoMap" type="com.yanyun.oms.dto.QuestionOptionDto">
        <result column="id" property="id"></result>
        <result column="name" property="name"></result>
    </resultMap>

    <!--表名 -->
    <sql id="tableName">
		ec_questionnaire
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		id,
		title,
		question,
		status,
		created_id,
		modified_id,
		created_time,
		modified_time,
		deleted
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{id, jdbcType=INTEGER},
		#{title, jdbcType=VARCHAR},
		#{question, jdbcType=VARCHAR},
		#{status, jdbcType=TINYINT},
		#{createdId, jdbcType=INTEGER},
		#{modifiedId, jdbcType=INTEGER},
		#{createdTime, jdbcType=TIMESTAMP},
		#{modifiedTime, jdbcType=TIMESTAMP},
		#{deleted, jdbcType=TINYINT}
	</sql>

    <!-- 查询全部记录 -->
    <select id="findAll" resultMap="QuestionnaireMap">
        SELECT
        <include refid="Field"></include>
        FROM
        <include refid="tableName"></include>
        WHERE
        deleted = 0
    </select>

    <!-- 新增-->
    <insert id="insert" parameterType="com.yanyun.oms.entity.Questionnaire" useGeneratedKeys="true" keyProperty="id">

        INSERT INTO
        <include refid="tableName"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="question != null">
                question,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createdId != null">
                created_id,
            </if>
            <if test="modifiedId != null">
                modified_id,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="title != null">
                #{title},
            </if>
            <if test="question != null">
                #{question},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="createdId != null">
                #{createdId},
            </if>
            <if test="modifiedId != null">
                #{modifiedId},
            </if>
            <if test="createdTime != null">
                #{createdTime},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
        </trim>
    </insert>

    <!-- 删除-->
    <delete id="delete" parameterType="java.lang.Integer">
        UPDATE
        <include refid="tableName"></include>
        SET
        deleted = 1
        WHERE
        id = #{id}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteByIds">
        UPDATE
        <include refid="tableName"></include>
        SET
        deleted = 1
        WHERE
        id IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 更新记录 -->
    <update id="update" parameterType="com.yanyun.oms.entity.Questionnaire">
        UPDATE
        <include refid="tableName"></include>
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="question != null">
                question = #{question},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createdId != null">
                created_id = #{createdId},
            </if>
            <if test="modifiedId != null">
                modified_id = #{modifiedId},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 通过编号查询 -->
    <select id="findById" parameterType="java.lang.Integer" resultMap="QuestionnaireDtoMap">
        SELECT
        <include refid="Field"></include>
        FROM
        <include refid="tableName"></include>
        WHERE id = #{id}
    </select>

    <!--更新问卷调查状态-->
    <update id="updateStatus">
        UPDATE
        <include refid="tableName"></include>
        SET
        status = #{status, jdbcType=TINYINT}
        WHERE
        id
        IN
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>


    <insert id="insertQuestion" useGeneratedKeys="true" keyProperty="question.id">
        INSERT INTO `ec_questionnaire_question` (`type`, `question`, `questionnaire_id`)
        VALUES (#{question.type}, #{question.question}, #{questionnaireId})
    </insert>

    <insert id="insertQuestionOptions">
        INSERT INTO `ec_questionnaire_question_option`
        (`name`, `question_id`,`questionnaire_id`)
        VALUES
        <foreach collection="options" item="option" index="index" separator=",">
        ( #{option.name}, #{questionId},#{questionnaireId})
        </foreach>
    </insert>

    <insert id="insertQuestionWithId" >
        INSERT INTO `ec_questionnaire_question` (`id`,`type`, `question`, `questionnaire_id`)
        VALUES (#{question.id},#{question.type}, #{question.question}, #{questionnaireId})
    </insert>

    <insert id="insertQuestionOptionsWithId">
        INSERT INTO `ec_questionnaire_question_option`
        (`id`,`name`, `question_id`,`questionnaire_id`)
        VALUES
        <foreach collection="options" item="option" index="index" separator=",">
            (#{option.id}, #{option.name}, #{questionId},#{questionnaireId})
        </foreach>
    </insert>

    <delete id="deleteQuestion">
        DELETE FROM ec_questionnaire_question
        WHERE questionnaire_id = #{questionnaireId}
    </delete>

    <delete id="deleteQuestionOption">
       DELETE FROM ec_questionnaire_question_option
       WHERE questionnaire_id = #{questionnaireId}
    </delete>

    <select id="findQuestionList" resultMap="QuestionDtoMap">
        SELECT * from ec_questionnaire_question
        WHERE questionnaire_id = #{id}
    </select>

    <select id="findQuestionOptionList" resultMap="QuestionOptionDtoMap">
        SELECT * FROM ec_questionnaire_question_option
        WHERE question_id = #{id}
    </select>
</mapper>